/* Paleta de cores 

rgb(228, 197, 158)
rgb(175, 130, 96)
rgb(128, 61, 59)
rgb(50, 44, 43)  */

@font-face {
    font-family: 'Merrycle Carved Font';
    src: url('/fonts/Merrycle\ Carved\ Font\ by\ Jasm\ 7NTypes.otf') format('truetype');
}

@media (max-width: 576px) {
    .nav2 {
        display: none;
    }

    .btnHamburguer{
        display: block;
    }

    .nav1{
        justify-content: space-between;
    }

    .about {
        flex-direction: column;
    }

    #about img {
        width: 90vw;
        height: auto;
    }

    #title {
        font-size: 30px;
    
    }

    #logo img {
        width: 10vw;
        height: auto;
    }

    #card {
        height: auto;
        width: 70vw;
    }

}

/* 
small < 576
medium > 577 < 768
large > 769
*/

@media (min-width: 577px) and (max-width: 768px) {
    .btnHamburguer{
        display: none;
    }

    #title {
        justify-content: start;
        font-size: 50px;
    }


    
}

@media (min-width: 769px) {

    .btnHamburguer{
        display: none;
    }
    

    #title {
        font-size: 60px;
    
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    transition: all 0.4s ease-in-out;
}

/* Header */

body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
} 



h2, h3, h, h5,
p, label { 
font-family: Quicksand, sans-serif;
}

header ul,
.nav-tabs .nav-link,
.card a {
    font-family: Poppins, sans-serif;
    
}

.card-title {
    font-weight: 900;
    font-size: large;
}

.card-body {
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffff;
    
}

.navbar img {
    height: 20vw;
    max-height: 110px;
    
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

* img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
 
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 128, 128, 0.2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; /* Ajuste o valor conforme necessário */
    border-top-right-radius: 10px;
    height: 100px;
}

.navbar h1 {
    font-family: Merrycle Carved Font;
    font-size: 6vw;
    padding-right: 9vw;
    
}

.navbar a {
    text-align: center;
}

.nav2 .nav-link.active {
    color: #ff0000 !important; 
    border-bottom: 2px solid red;
    background-color: transparent !important; 
}

.navbar btn {
    border: 5px solid #ffffff; 
}

.btnHamburguer {
    border: 5px solid #ffffff; 
}

#logo {
    display: flex;
    align-items: center;
    min-width: 100px;
}

.about {
    position: relative;
}

.card {
    margin: 10px;
    justify-content: ;
    max-width: 250px;
    min-width: 200px;
}

#products .col-sm-12{
    display: flex;
    justify-content: center;
}

header li:hover {
    background-color: rgb(128, 128, 128, 0.05);

}

.card-footer:last-child {
    background-color: rgb(128, 128, 128, 0.1);
}

header ul {
    background-color: rgb(128, 128, 128, 0);
}

.aboutText {
    display: block;
}

body h2 {
    font-weight: 900;
    padding: 7vw;
}

.aboutText h5 {
    padding: 3.5vw;
}

h5.card-title {
    font-weight: 600;
}

input::placeholder,
textarea::placeholder {
    font-family: Poppins, sans-serif;
}

/* BOAS VINDAS */

#boasVindas {
    padding: 5vw;
    font-weight: 600;
}

/* PRODUCTS */

.overlay {
    position: absolute;
    bottom: 0;
    right:0;
    color: white;
    background-color: black;
}

.card-body  {
    position: relative;
}

/* ABOUT */

.about img {
    width: 40vw;
    height: 40vw;
    
}

/* FOOTER */

.footer {
    background-color:rgb(128, 128, 128, 0.2);
    text-align: center;
    font-size: small;
    height: 20px;
    margin-top: 10px;
    border-bottom-left-radius: 10px; /* Ajuste o valor conforme necessário */
    border-bottom-right-radius: 10px;
}

.img {
    float: left;
    padding: 16px;
}

#aboutText {
    padding: 1vw;

}
